body {
    background-color: #cfe9e2;
}

.accordion {
    margin-bottom: 0.5rem;
}

.accordion-button {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 20px;
    padding-left: 12px;
}

.accordion-body {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 8px;
    padding-left: 8px;
}

.form-control {
    border: 1px solid #edeff1;
}

.form-check-input {
    margin-top: 0;
}

.btn-outline-light {
    color: #888888;
    --bs-btn-color: #f8f9fa;
    --bs-btn-border-color: #e1e1e1;
    --bs-btn-hover-color: #ffffff;
    --bs-btn-hover-bg: #78c2ad;
    --bs-btn-hover-border-color: #ffffff;
    --bs-btn-focus-shadow-rgb: 248, 249, 250;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #f8f9fa;
    --bs-btn-active-border-color: #f8f9fa;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #f8f9fa;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #f8f9fa;
    --bs-gradient: none;
}